<div class="container">
  <div class="row">
    <div class="col">
      <div id="app">
        <App></App>
      </div>
      <div class="main-banner">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="">
      <ul class="p-0 mx-3 text-left text-color-grey">
        <li>(A)nnounce</li>
        <li><%= link_to "(F)avorite", favorites_path %></li>
        <li><%= link_to "(C)lass", boards_path %></li>
        <li>(M)ail</li>
        <li>(T)alk</li>
        <li>(U)ser</li>
        <li>(X)yz</li>
        <li>(P)lay</li>
        <li>(N)amelist</li>
        <li>(G)oodbye</li>
      </ul>
    </div>
    <div class="">
      <ul class="p-0 mx-3 text-center text-color-grey">
        <li>【精華公佈欄】</li>
        <li><%= link_to "【 我 的 最愛 】", favorites_path %></li>
        <li><%= link_to "【分組討論區】", boards_path %></li>
        <li>【私人信件區】</li>
        <li>【休閒聊天區】</li>
        <li>【個人設定區】</li>
        <li>【系統資訊區】</li>
        <li>【娛樂與休閒】</li>
        <li>【編特別名單】</li>
        <li>  離開，再見...</li>
      </ul>
    </div>
  </div>
</div>