<h1>方案說明</h1>
<table class="border-primary">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>Plan A</td>
      <td>Plan B</td>
    </tr>
    <tr>
      <td><ul>
        <li>Features:</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul></td>
      <td><ul>
        <li>Features:</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul></td>
    </tr>
    <tr>
      <td><%= link_to "去結帳", payment_path(plan: 'a') %></td>
      <td><%= link_to "去結帳", payment_path(plan: 'b') %></td>
    </tr>
  </tbody>
</table>